<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="cacheEnabled" value="true" />
    </settings>

    <typeAliases>
        <typeAlias type="me.pwcong.usersys.entity.User" alias="User"/>
        <typeAlias type="me.pwcong.usersys.entity.UserGroup" alias="UserGroup"/>
        <typeAlias type="me.pwcong.usersys.entity.UserInfo" alias="UserInfo"/>
    </typeAliases>

    <mappers>
        <mapper resource="mybatis/UserMapper.xml"/>
        <mapper resource="mybatis/UserGroupMapper.xml"/>
        <mapper resource="mybatis/UserInfoMapper.xml"/>
    </mappers>


</configuration>