<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="me.pwcong.usersys.dao.UserGroupMapper">

     <!--<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>-->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />

    <select id="find" resultType="UserGroup">
        SELECT *
        FROM user_group
    </select>

    <select id="findById" parameterType="java.lang.Integer"
            resultType="UserGroup">
        SELECT *
        FROM user_group
        WHERE
        id=#{id}
    </select>


</mapper>